body{
    background-color: #99aaff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.formulario-container {
    width: 50%;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 8px;
}

input, textarea {
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    width: 100%;
    
}

input[type="submit"] {
    background-color: #4caf50;
    color: #fff;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    padding: 10px;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

input[type="button"] {
    background-color: #d9534f;
    color: #fff;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    padding: 10px;
}

input[type="button"]:hover {
    background-color: #a54343;
}