
body {
    margin: 0;
    padding: 0;
    background-image: url('Fondo.png');
    background-size: cover; /* Para cubrir todo el fondo */
    background-position: center; /* Para centrar la imagen */
    height: 100vh; /* Para que la imagen cubra toda la altura de la ventana */
    display: flex;
    justify-content: center;
}

nav {
	margin-top:20px;
	position: relative;
}
nav ul {
	list-style:none;
	padding:0;
	margin:0;
	overflow:hidden;
}

nav > ul > li {
	float:left;
}

nav ul li a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
	text-decoration:none;
	color:#fff;
	display:block;
	padding:10px 20px;
}

